<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Kiírt témák</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">

    <!--<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/js/popper.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/js/test.js}"></script>-->

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class = "content">
    <div class="contentWrap">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <a th:href="@{/home}" class="navbar-brand font-weight-bolder brandtitle">
                    <img th:src="@{/img/me_logo.png}" width="30" height="30" class="d-inline-block align-top" alt="">
                    <strong>THESISMGR: </strong><span id="neptun" sec:authentication="principal.username"></span>
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link" th:href="@{/home}">Felvett témám</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/student/select}">Kiírt témák</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Hasznos információk</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class=" btn dropdown-toggle nav-link" id="dropdown" data-toggle="dropdown">Személyes <span class="oi oi-home"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><span class="oi oi-person"></span> Adatok</a>
                            <a class="dropdown-item" th:href="@{/logout}" href="/logout"><span class="oi oi-account-logout"></span> Kijelentkezés</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="d-flex justify-content-center">
    <h3>Felvehető témák</h3>
</div>
<div class="d-flex justify-content-center message" th:text="${updateMsg == true} ? 'Sikeres témafelvétel': ''"></div>

<div>
    <table class="table table-hover topicTable">
        <thead>
        <tr>
            <th>Téma címe</th>
            <th>Státusz</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="topic: ${topics}">
            <tr>
                <td th:text="${topic.getName()}"></td>
                <td th:if="${topic.getStatus() == 'választható'}" class="successColor" th:text="${topic.getStatus()}"></td>
                <td th:unless="${topic.getStatus() == 'választható'}" class="warnColor" th:text="${topic.getStatus()}"></td>
                <td><a th:href="@{/student/choosetopic(topicid=(${topic.topicid}))}"><button  class="btn btn-primary"><span class="oi oi-info"></span></button></a></td>
                <td th:if="${nullTopic == true && topic.getStatus() == 'választható'}">
                    <form th:action="@{/student/selected}" method="post">
                        <input type="hidden" name="topicid" th:value="${topic.getTopicid()}">
                        <button type="submit"  class="btn btn-success">Felvétel</button>
                    </form>
                </td>
                <td th:if="${nullTopic == false}"><button disabled class="btn btn-warning">Van témád</button></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div id="topicdesc" class="topicDescription" th:text="${description}"></div>
</div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="center">
                <img th:src="@{/img/me_logo.png}" src="">
            </div>
        </div>
    </footer>
</div>
</body>
</html>