html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: black;
}

.welcomeText{
    font-weight: bolder;
    text-align: center;
}

.successColor{
    color: forestgreen;
    font-weight: bold;
}
.errorColor{
    color: crimson;
    font-weight: bold;
}
.warnColor{
    color: goldenrod;
    font-weight: bold;
}