body{
    background-color: #E9ECEF;
}
.navbar{
    background-color: black;
    color: #E9ECEF;
}
#neptun{
    color: goldenrod;
}
.topicTable{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.topicButton{
    width: 100%;
}

.topicDescription{
    padding: 2% 2% 2% 2%;
    width: 60%;
    background-color: cornflowerblue;
    text-align: center;
    opacity: 0.5;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 5%;
}