.regForm{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.loginerror{
    color: crimson;
    font-weight: bold;
}
.successLogOut{
    color: forestgreen;
}


.regBtn{
    width: 35%;
    height: 100pt;
    text-align: center;
}
.regBtn button{
    width: 35%;
    height: 50%;
    display: inline-block;
}
.regBtnBack{
    margin-top: 1%;
    display: block;
}
.regBtnBack button{
    width: 70%;
}
