<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Konzulensi oldal</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/userhome.js}"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:href="@{/css/base.css}" href="../../../../../chatbot/src/main/resources/static/css/base.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/home.css}" href="../../../../../chatbot/src/main/resources/static/css/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid">
            <a th:href="@{/consultanthome}" class="navbar-brand font-weight-bolder"><strong>THESISMGR: </strong><span id="neptun" sec:authentication="principal.username"></span></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Témáim</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Aktív témák</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Téma kiírás</a></li>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li>
                        <a class="nav-link" th:href="@{/admin/home}">Profil</a>
                    </li>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class=" btn dropdown-toggle nav-link" id="dropdown" data-toggle="dropdown">Személyes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Adatok</a>
                        <a class="dropdown-item" href="/consultant_logout">Kijelentkezés</a>
                        <!--<form th:action="@{/consultant_logout}" method="post">
                            <button type="submit">Kijelentkezés</button>
                        </form>-->
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<hr>
<div id="request" class="d-flex justify-content-center">
    <h3>Kiírt témáim</h3>
</div>
<div>
    <table class="table table-hover topicTable">
        <thead>
            <tr>
                <th>Téma címe</th>
                <th>Státusz</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
      <th:block th:each="topic: ${allTopic}">
            <tr>
                <td th:text="${topic.getName()}"></td>
                <td>STÁTUSZ</td>
                <td><button th:href="@{/choosetopic(topicid=${topic.getTopicid()})}" class="btn btn-primary topicButton">Részletek</button></td>
                <td><button class="btn btn-info topicButton">Módosítás</button></td>
                <td><button class="btn btn-danger topicButton">Törlés</button></td>

            </tr>
<!--

                <td th:class="${request.getStatus()}" th:text="${request.getStatus()}"></td>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <td>
                        <form th:action="@{/request/response}" method="post">
                            <input type="hidden" name="requestId" th:value="${request.getId()}">
                            <input class="btn btn-danger" type="submit" name="action" th:value="Elutasítás">
                            <input class="btn btn-success" type="submit" name="action" th:value="Elfogadás">
                        </form>
                    </td>
                    <td th:text="${request.getManychat_id()}"></td>
                </div>
                -->

        </th:block>
        </tbody>
    </table>

    <!--<div class="topicDescription" th:text="${allTopic[${topicid}].getDescription()}"></div>-->
    <div class="topicDescription" th:text="${allTopic[0].getDescription()}"></div>

</div>
</body>
</html>